[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
jupyter = "*"
black = "*"
nb-black = "*"
pytest = "*"
quantum-systems = {editable = true,git = "https://github.com/Schoyen/quantum-systems.git"}
hartree-fock = {editable = true,git = "ssh://git@github.com/Schoyen/hartree-fock.git"}
setuptools-rust = "*"

[requires]
python_version = "3.7"
