setuptools-rust
matplotlib
pytest
jupyter
black[jupyter]
git+https://github.com/HyQD/quantum-systems.git
git+https://github.com/HyQD/hartree-fock.git
git+https://github.com/HyQD/configuration-interaction.git
